@media (min-height: 480px) {
  .max-vh {
    max-height: 60vh;
  }
}

@media (min-height: 800px) {
  .max-vh {
    max-height: 72vh;
  }
}

@media (min-height: 1024px) {
  .max-vh {
    max-height: 75vh;
  }
}

@media (min-height: 1000px) and (max-width: 1280px) {
  .max-vh {
    max-height: 78vh;
  }
}
@media (min-height: 600px) and (min-width: 745px) {
  .max-vh {
    max-height: 70vh;
  }
}

@media (min-height: 900px) and (min-width: 1440px) {
  .max-vh {
    max-height: 76vh;
  }
}

@media (min-height: 1400px) and (min-width: 1400px) {
  .max-vh {
    max-height: 86vh;
  }
}

@media (max-height: 480px) and (max-width: 800px) {
  .max-vh {
    max-height: 30vh;
  }
}

@media (max-height: 300px) and (max-width: 1280px) {
  .max-vh {
    max-height: 68vh;
  }
}
