@media (min-height: 480px) {
  .max-vh {
    max-height: 66vh;
  }
}

@media (min-height: 600px) {
  .max-vh {
    max-height: 68vh;
  }
}

@media (min-height: 800px) {
  .max-vh {
    max-height: 72vh;
  }
}

@media (min-height: 1024px) {
  .max-vh {
    max-height: 75vh;
  }
}

@media (min-height: 1000px) and (max-width: 1280px) {
  .max-vh {
    max-height: 78vh;
  }
}

@media (min-height: 1440px) {
  .max-vh {
    max-height: 82vh;
  }
}

@media (min-height: 2000px) {
  .max-vh {
    max-height: 88vh;
  }
}

@media (max-height: 480px) and (max-width: 800px) {
  .max-vh {
    max-height: 30vh;
  }
}

@media (max-height: 300px) and (max-width: 1280px) {
  .max-vh {
    max-height: 68vh;
  }
}
